.modal-container {
	z-index: 1200;
	display: flex;
	flex: 0 1 auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}

.modal-container .card {
	margin: 0 auto;
	max-height: 50vh;
	overflow: auto;
}

